[submodule "sshmount"]
	path = sshmount
	url = https://github.com/fuseteam/sshmount
[submodule "networkmanager-dmenu"]
	path = networkmanager-dmenu
	url = https://github.com/fuseteam/networkmanager-dmenu
	branch = main
